@import '../../styles/vars';

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
  display: flex;
  z-index: 2;
  
  .content {
    width: 200px;
    height: 100px;
    margin: auto;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    position: relative;
    font-size: 1.1rem;
    font-weight: 700;

    button {
      position: absolute;
      top: 4px;
      right: 4px;
      border-radius: 50%;
      border: 0;
      cursor: pointer;
      max-width: 24px;
      max-height: 24px;
      width: 24px;
      height: 24px;
      font-size: 1.4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: gray;
      transition: color 0.4s;
      padding: 0;
    }
    button:hover {
      color: initial;
      transition: color 0.4s;
    }
  }
}