@import '../../styles/vars';

.container {
  width: 50%;
  border-left: 1px solid $border-color;
  background-color: $white;

  h2 {
    padding: 12px;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}