@import '../../../styles/vars';

.container {
  padding: 0;
  margin: 0;
  justify-content: space-between;
  border: 0;
  box-shadow: $shadow-small;
  cursor: pointer;
  position: relative;
  height: 150px;

  .title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: rgba(0,0,0,0.30);
    padding: 8px;
    color: white;
    transition: all 400ms;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.active .title {
  font-size: 1rem;
  background-color: rgba(0,0,0,0.70);
  padding: 6px;
}

.container:hover .title  {
  background-color: rgba(0,0,0,0.70);
}